<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <% if current_user %>
    Signed in as <%= current_user.email %>
  <% end %>

  <%= @order.line_items.each do |item| %>
    <%= render 'item', product_id: item.product_id %>
  <% end %>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
