<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>

    </div>
  </article>

  <div class="reviews">
    <hr>
    <h4 class="reviews-title">Reviews</h4>

    <% if session[:user_id] %>
      <h5 class="review-header">Add a review why not?</h5>

      <div class="review-form">
        <%= form_for :review, class: "review-submit", url: "#{@product.id}/reviews" do |f| %>
          Product rating <%= f.select :rating, [0,1,2,3,4,5] %><br/>
          Description <%= f.text_field :description %>
          <%= f.submit 'create' %>
        <% end %>
      </div>
    <% end %>

    <hr>

    <% if @reviews.size != 0 %>
      <% @reviews.reverse_each do |element| %>
        <% @user_name = User.where( id: element.user_id) %>
        <%= render 'review', description: element.description, rating: element.rating %>
      <% end %>
    <% else %>
      <p class="reviews-nil">No reviews yet.</p>
    <% end %>

  </div>
</section>
